@import "../variables.scss";
@import "../animations.scss";

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Open+Sans:ital,wght@0,300;0,600;0,700;0,800;1,800&family=Righteous&display=swap&');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Open+Sans:ital,wght@0,300;0,600;0,700;0,800;1,800&family=Dosis&display=swap&');

.main_view_card {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  overflow-x: hidden;

  h1, h2 {
  }

  /* filter: blur(2px);
  -webkit-filter: blur(2px); */


}
.main_view_card__padding {
  padding-top: 20px;
  padding-bottom: 20px;
}

.main_view_card__content {
  min-height: 100vh;
  max-width: 1500px;
  display: flex;
  /* align-items: center;
  justify-content: center; */
  z-index: 100;
}
.main_view_card__brush_top {
  position: absolute;
  width: 100%;
  transform: rotate(180deg);
  z-index: 99;
}

.main_view_card__brush_bottom {
  position: absolute;
  width: 100%;
  bottom: 0px;
  z-index: 99;
}

.main_view_card__dark_bg {
  background-color: $background-dark;
  color: $text-light;
}
.main_view_card__light_bg {
  background-color: $background-light;
  color: $text-dark;
}

.first_card__animation {

  animation-name: scaleUp;
  animation-duration: 0.8s;
  animation-timing-function: ease-out;
}
.first_card {

  text-align: center;
  h1 {
    font-family: 'Righteous';
    font-weight: 400;
    font-size: 130px;
    line-height: 20px;
    color: $text-light
  }

  h2:nth-child(1) {
    font-family: 'Dancing Script';
    font-size: 65px;
    line-height: 0px;
    color: $text-light-brown;
  }
  h2:nth-child(3) {
    font-family: 'Righteous';
    font-size: 25px;
    line-height: 0px;
    color: $text-light;
  }
  @media only screen and (max-width: 856px) {
    h1 {
      font-size: 80px;
      line-height: 10px;
    }

    h2:nth-child(1) {
      font-size: 35px;
      line-height: 25px;
    }
    h2:nth-child(3) {

    }
  }
}

.second_card {
  width: 100%;
  padding: 0% 10%;
}
.second_card__row_one {
  display: flex;
  flex-direction: row;
  position: relative;
  gap: 5%;
  div:nth-child(1) {
    order: 1;
  }
  div:nth-child(2) {
    order: 2;
  }
  h1 {
    font-family: 'Righteous';
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 20%;
    text-shadow: $background-light 1px 0 15px;
  }
  h2 {
    font-family: 'Righteous';
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin-top: 130px;
    // font-family: ;
  }
  img {
    opacity: 0.95;
    max-width: 350px;
  }
  @media only screen and (max-width: 856px) {
    flex-direction: column;

    div:nth-child(1) {
      order: 2;
    }
    div:nth-child(2) {
      order: 1;
    }
    h1 {
      font-size: 40px;
      position: relative;
      top: 0%;
      left: 0%;
    }
    h2 {
      font-size: 22px;
      margin-top: 0px;
      // font-family: ;
    }
    img {
      opacity: 0.95;
      width: 100%;
    }
  }
}

.second_card__row_two {
  display: flex;
  flex-direction: row;
  position: relative;
  gap: 15%;
  p {
    font-family: 'Righteous';
    margin-top: 130px;
    font-weight:500;
    font-size: 18px;
  }
  h4 {
    font-weight: normal;
    font-size: 32px;
    font-family: 'Dancing Script';
    line-height: 30px;
  }
  h5 {
    font-family: 'Righteous';
    font-weight: bold;
    line-height: 0px;
  }
  img {
    margin-top: -70px;
    filter:brightness(0.75);
    transform: rotate(-90deg);
    max-width: 400px;
  }
  @media only screen and (max-width: 856px) {
    flex-direction: column;
    gap: 0%;
    p {
      font-family: 'Righteous';
      margin-top: 50px;
      font-weight:500;
      font-size: 18px;
    }
    h4 {
      font-weight: normal;
      font-size: 32px;
      font-family: 'Dancing Script';
      line-height: 30px;
    }
    h5 {
      font-family: 'Righteous';
      font-weight: bold;
      line-height: 0px;
    }
    img {
      margin-top: 0px;
      transform: rotate(0deg);
      max-width: 100% !important;
      padding-bottom: 50px;

    }
  }
}

.third_card__animation {

  animation-name: scaleUp;
  animation-duration: 0.8s;
  animation-timing-function: ease-out;
}
.third_card {
  display: flex;
  align-items: center;
  text-align: center;
  h1 {
    font-family: 'Righteous';
    font-weight: 400;
    font-size: 130px;
    line-height: 20px;
    color: $text-light
  }

  h2:nth-child(1) {
    font-family: 'Dancing Script';
    font-size: 65px;
    line-height: 0px;
    color: $text-light-brown;
  }
  h2:nth-child(3) {
    font-family: 'Righteous';
    font-size: 25px;
    line-height: 0px;
    color: $text-light;
  }
  @media only screen and (max-width: 856px) {
    h1 {
      font-size: 80px;
      line-height: 80px;
      margin-top: -15px;
    }

    h2:nth-child(1) {
      font-size: 35px;
      line-height: 5px;
    }
    h2:nth-child(3) {

    }
  }
}

.fourth_card {
  width: 100%;
  padding: 0% 10%;
}
.fourth_card__row_one {
  display: flex;
  flex-direction: row;
  position: relative;
  gap: 5%;
  div:nth-child(1) {
    order: 1;
  }
  div:nth-child(2) {
    order: 2;
  }
  h1 {
    font-family: 'Righteous';
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 20%;
    text-shadow: $background-light 1px 0 15px;
  }
  h2 {
    font-family: 'Righteous';
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin-top: 130px;
    // font-family: ;
  }
  img {
    opacity: 0.95;
    max-width: 350px;
  }
  @media only screen and (max-width: 856px) {
    flex-direction: column;

    div:nth-child(1) {
      order: 2;
    }
    div:nth-child(2) {
      order: 1;
    }
    h1 {
      font-size: 40px;
      position: relative;
      top: 0%;
      left: 0%;
    }
    h2 {
      font-size: 22px;
      margin-top: 0px;
      // font-family: ;
    }
    img {
      opacity: 0.95;
      width: 100%;
    }
  }
}
.fourth_card__row_two {
  display: flex;
  flex-direction: row;
  position: relative;
  gap: 10%;
  p {
    font-family: 'Righteous';
    margin-top: 130px;
    font-weight:500;
    font-size: 18px;
    @media only screen and (max-width: 856px) {
      margin-top: 20px;
    }
  }

  div:nth-child(1) {
    display: flex;
    flex-direction: column;
    img {
      width: 180px;
      align-self: flex-end;
    }
    @media only screen and (max-width: 856px) {
      img {
        align-self: center;
      }
    }
  }
  div:nth-child(2) {
    display: flex;
    flex-direction: column;
    h1 {
      font-family: 'Righteous';
      line-height: 0px;
      font-size: 50px;
      &:nth-child(2) {
        color: $text-dark-brown;
        padding-left: 33px;
        margin-top: 10px;
      }
    }
    img {
      width: 100%;
    }
    @media only screen and (max-width: 856px) {
      h1 {
        font-family: 'Righteous';
        line-height: 10px;
        font-size: 50px;
        &:nth-child(2) {
          color: $text-dark-brown;
        }
      }
    }

  }
  div:nth-child(3) {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    div {
      margin-top: -130px;
    }
    img {
      min-width: 250px;
      width: 100%;
    }
    @media only screen and (max-width: 856px) {
      div {
        margin-top: 20px;
      }
    }
  }
  @media only screen and (max-width: 856px) {
    flex-direction: column;
    gap: 0%;
  }
}


.fifth_card {
  width: 90vw !important;
}
.fifth_card__row_one {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media only screen and (max-width: 856px) {
    margin-top: -40px;
  }
  h1 {
    font-family: 'Righteous';
    font-weight: 400;
    font-size: 130px;
    line-height: 0px;
    margin-top: 30px;
    color: $text-dark;
    @media only screen and (max-width: 856px) {
      font-size: 65px;
      margin-top: 0px;
    }
  }

  h2:nth-child(1) {
    font-family: 'Dancing Script';
    font-size: 65px;
    line-height: 0px;
    color: $text-light-brown;
  }
}
.fifth_card__row_two {
  display: flex;
  flex-direction: row;
  background-color: $background-dark;
  color: white;
  padding: 15px 10px ;
  border-radius: 8px;

  @media only screen and (max-width: 856px) {
    flex-direction: column;
    padding: 10px 5px ;
  }

}

.fifth_card__row_two_col_one {
  width: 100%;
}

.fifth_card__row_two_col_two {
  width: 100%;
}


.sixth_card {
  width: 70vw;
  @media only screen and (max-width: 856px) {
    width: 100vw;
  }
}

.sixth_card__row_one {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  gap: 5%;
}
.shop_element {
  cursor: default;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // background-color: $background-dark;
  border-radius: 8px;
  // color: white;
  color: $text-dark;
  margin-top: 15px;
  padding: 15px;
  text-align: center;
  @media only screen and (max-width: 856px) {
    width: 70%;
    flex-wrap: nowrap;
  }
  div {
    width: 100%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  h1 {
    text-transform: uppercase;
    font-family: 'Righteous';
    font-weight: 400;
    font-size: 22px;
  }
  h2 {
    font-family: 'Righteous';
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
  }
}
.gallery_card {
  display: flex;
  width: 100vw;
  overflow-y: hidden;
  overflow-x: scroll;
  scrollbar-width: 50px;
  padding: 15px;
  &::-webkit-scrollbar{
    display: none;
  }
}
.gallery_card__content {
  min-height: 70vh !important;

}
.footer__content {
  min-height: 60vh !important;
  height: auto;
}
.gallery_element {
  cursor: pointer;
  padding: 15px;
  height: 400px;
  position: relative;
  width: 280px;
  border-radius: 8px;
  transition: 0.3s;
  &:hover {
    transform: rotate(2deg);
  }
  @media only screen and (max-width: 856px) {
    &:hover {
      transform: rotate(0deg);
    }
  }
  img {
      height:100%;
      border-radius: 8px;
      object-fit: cover;
      overflow: hidden;
      width: 280px; /* or any custom size */
  }
}
.staff_card {
  display: flex;
  width: 100vw;
  overflow-y: hidden;
  overflow-x: scroll;
  scrollbar-width: 50px;
  padding: 15px;
  &::-webkit-scrollbar{
    display: none;
  }
}

.staff_element {
  cursor: default;
  padding: 15px;
  height: 400px;
  position: relative;
  width: 280px;
  border-radius: 8px;
  transition: 0.3s;

  /* &:hover {
    transform: rotate(2deg);
  } */
  /* @media only screen and (max-width: 856px) {
    &:hover {
      transform: rotate(0deg);
    }
  } */
  img {
      height:100%;
      border-radius: 8px;
      object-fit: cover;
      overflow: hidden;
      width: 280px; /* or any custom size */
  }
  /* &:hover > .staff_hover {

    height: 50px;

    h4 {
      display: block;
    }
  } */
}

.staff_hover {
  position: absolute;
  bottom: -10px;
  width: 280px;
  height: 0px;
  /* display: flex;
  align-content: flex-start; */

  display: flex;
  align-items: center;

  border-radius: 0px 0px 8px 8px;
  background-color: $text-dark-brown;
  color: white;
  padding: 0px 0px;
  transition: 0.5s;
  h4 {
    padding: 0px 15px;
  }

}

.gallery_img_wrap {
  overflow: hidden;
  cursor: default;
  padding: 0px;
  height: 400px;
  position: relative;
  width: 280px;
  border-radius: 8px;
  transition: 0.3s;
  img {
    transition: 0.3s;
    height:100%;
    border-radius: 8px;
    object-fit: cover;
    overflow: hidden;
    width: 280px; /* or any custom size */
  }
  &:hover {
    img {
      filter: brightness(80%);
    }
  }
  &:hover > .staff_hover {
    bottom: 0px;
    height: 50px;

    h4 {
      display: block;
    }
  }
}
.cursor_pointer {
  cursor: pointer;
}
.event_card {
  padding: 15px;
  width: 80vw;
  display: grid;
  .event_card_more_content {
    font-family: 'Righteous';
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transition: 0.3s;

    @media only screen and (max-width: 856px) {
      gap: 10px;
    }
    &:hover {
      transform: scale(1.1);
    }
  }
  div:not(.event_card_row_one):not(.event_card_row_two) {
    padding: 15px;
  }
  img {
    height:100%;
    border-radius: 8px;
    object-fit: cover;
    overflow: hidden;
    width: 100%;
  }
}

.event_card_row_one {
  display: grid;
  div:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 1;
  }
  div:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: 2;
    @media only screen and (max-width: 856px) {
      grid-column-start: 1;
      grid-column-end: 1
    }
  }
}

.event_card_row_two {
  display: grid;
  div:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    @media only screen and (max-width: 856px) {
      grid-column-start: 1;
      grid-column-end: 1
    }
  }
  div:nth-child(2) {
    grid-column-start: 3;
    grid-column-end: 3;
    @media only screen and (max-width: 856px) {
      grid-column-start: 1;
      grid-column-end: 1
    }
  }
  div:nth-child(3) {
    grid-column-start: 3;
    grid-column-end: 4;
    @media only screen and (max-width: 856px) {
      grid-column-start: 1;
      grid-column-end: 1
    }
  }
}