@import "../variables.scss";
@import "../animations.scss";

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Open+Sans:ital,wght@0,300;0,600;0,700;0,800;1,800&family=Righteous&display=swap');

.main_view_card {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  h1, h2 {
  }

  /* filter: blur(2px);
  -webkit-filter: blur(2px); */


}
.main_view_card__content {
  min-height: 100vh;
  display: flex;
  /* align-items: center;
  justify-content: center; */
  z-index: 100;
}
.main_view_card__brush_top {
  position: absolute;
  width: 100%;
  transform: rotate(180deg);
  z-index: 99;
}

.main_view_card__brush_bottom {
  position: absolute;
  width: 100%;
  bottom: -10px;
  z-index: 99;
}

.main_view_card__dark_bg {
  background-color: $background-dark;
  color: $text-light;
}
.main_view_card__light_bg {
  background-color: $background-light;
  color: $text-dark;
}

.first_card__animation {

  animation-name: scaleUp;
  animation-duration: 0.8s;
  animation-timing-function: ease-out;
}
.first_card {

  text-align: center;
  h1 {
    font-family: 'Righteous';
    font-weight: 400;
    font-size: 130px;
    line-height: 20px;
    color: $text-light
  }

  h2:nth-child(1) {
    font-family: 'Dancing Script';
    font-size: 65px;
    line-height: 0px;
    color: $text-light-brown;
  }
  h2:nth-child(3) {
    font-family: 'Righteous';
    font-size: 25px;
    line-height: 0px;
    color: $text-light;
  }
  @media only screen and (max-width: 425px) {
    h1 {
      font-size: 80px;
      line-height: 10px;
    }

    h2:nth-child(1) {
      font-size: 35px;
      line-height: 25px;
    }
    h2:nth-child(3) {

    }
  }
}

.second_card {
  width: 100%;
  padding: 0% 10%;
}
.second_card__row_one {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25%;
  h1 {
    text-align: center;
  }
  img {
    width: 15%;
  }
}