@keyframes scaleUp {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes rollUp {
  from {
    top: 25%;
  }
  to {
    top: -300%;
  }
}
@keyframes rollDown {
  from {
    top: -300%;
  }
  to {
    top: 25%;
  }
}

@keyframes menuOpen {
  from {
    top: -100px;
  }
  to {
    top: 0px;
  }
}
@keyframes menuClose {
  from {
    top: 0px;
  }
  to {
    top: -100px;
  }
}

@keyframes rollFromLeft {
  from {
    position: relative;
    left: -500px;
  }
  to {
    position: relative;
    left: 0px;
  }
}

@keyframes noAnimation {
  100% {
    left: 0px
  }
}

@keyframes hamburgerAnimation {
  from {
    right: -100px;
  }
  to {
    right: 0px;
  }
}

@keyframes slideOut {
  from {
    right: -50px;
  }
  to {
    right: 0px;
  }
}
@keyframes slideOut {
  from {
    right: 0px;
  }
  to {
    right: -100px;
  }
}


@keyframes galleryImageAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}